<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     -------- ------------------------------- 1.3/6.0 MB 9.1 MB/s eta 0:00:01
     ---------------------- ----------------- 3.4/6.0 MB 9.6 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 10.2 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): still running...
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp313-cp313-win_amd64.whl size=1164431 sha256=09d994bb04b404cfdb2269ae05c67eda7cb7d4d81aa844e793b73c41f0228daf
  Stored in directory: c:\users\christopher jones\appdata\local\pip\cache\wheels\7f\0c\92\6ec5ca28eb22ed22341110143de753ec622045fbfc750edb26
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (8.28.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached SQLAlchemy-2.0.36-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: sqlparse in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Using cached SQLAlchemy-2.0.36-cp313-cp313-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.36

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql SELECT DISTINCT "LaunchSite" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: LaunchSite
[SQL: SELECT DISTINCT LaunchSite FROM SPACEXTABLE;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [11]:
print(df.columns)

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [12]:
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [13]:
%sql SELECT DISTINCT "launch_site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [15]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [17]:
%sql SELECT * 
FROM SPACEXTABLE 
WHERE Launch_Site LIKE 'CCA%' 
LIMIT 5;

SyntaxError: invalid syntax (2177895022.py, line 2)

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [21]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass
FROM SPACEXTABLE
WHERE Customer = 'NASA (CRS)';

SyntaxError: invalid syntax (3348723894.py, line 2)

In [22]:
!pip install ipython-sql
%load_ext sql

Defaulting to user installation because normal site-packages is not writeableThe sql extension is already loaded. To reload it, use:
  %reload_ext sql

Requirement already satisfied: ipython-sql in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (8.28.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\christopher jones\appdata\roaming\python\python313\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [24]:
# Ensure you've loaded the SQL extension
%load_ext sql

# Now you can execute your query
result = %sql SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';
result

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [26]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Payload_Mass FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [30]:
# Ensure you are using the SQL extension
%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND LandingPad IS NOT NULL;

SyntaxError: invalid syntax (628231889.py, line 3)

In [31]:
%sql sqlite:///my_data1.db

In [32]:
%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND LandingPad IS NOT NULL;

SyntaxError: invalid syntax (3990682377.py, line 2)

In [34]:
%reload_ext sql

In [35]:
%sql sqlite:///my_data1.db

In [36]:
%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND LandingPad IS NOT NULL;

SyntaxError: invalid syntax (3990682377.py, line 2)

In [37]:
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [38]:
%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND LandingPad IS NOT NULL;

SyntaxError: invalid syntax (3990682377.py, line 2)

In [39]:
%sql SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [40]:
%sql PRAGMA table_info(SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[(0, 'Date', 'TEXT', 0, None, 0),
 (1, 'Time (UTC)', 'TEXT', 0, None, 0),
 (2, 'Booster_Version', 'TEXT', 0, None, 0),
 (3, 'Launch_Site', 'TEXT', 0, None, 0),
 (4, 'Payload', 'TEXT', 0, None, 0),
 (5, 'PAYLOAD_MASS__KG_', 'INT', 0, None, 0),
 (6, 'Orbit', 'TEXT', 0, None, 0),
 (7, 'Customer', 'TEXT', 0, None, 0),
 (8, 'Mission_Outcome', 'TEXT', 0, None, 0),
 (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [41]:
%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND Landing_Outcome LIKE '%Pad%';

SyntaxError: invalid syntax (1315938373.py, line 2)

In [42]:
%load_ext sql
%sql sqlite:///my_data1.db

%sql SELECT MIN(Date) AS First_Successful_Landing_Date
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND Landing_Outcome LIKE '%Pad%';

SyntaxError: invalid syntax (3808456203.py, line 5)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [44]:
# Ensure the SQL extension is loaded
%load_ext sql

# Connect to the SQLite database
%sql sqlite:///my_data1.db

# Execute the SQL query for Task 6
result = %sql SELECT DISTINCT Booster_Version
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success' AND Landing_Outcome LIKE '%Drone%' 
AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

# Display the results
result

SyntaxError: invalid syntax (2233011709.py, line 9)

In [45]:
import sqlite3

# Establish a connection to the database
conn = sqlite3.connect('your_database.db')

# Create a cursor object
cursor = conn.cursor()

# Define your SQL query
query = """
SELECT * 
FROM SPACEXTABLE
WHERE Launch_Site = 'CCAFS LC-40';
"""

# Execute the query
try:
    cursor.execute(query)
    results = cursor.fetchall()  # Fetch all results
    for row in results:
        print(row)
except sqlite3.Error as e:
    print(f"An error occurred: {e}")

# Close the connection
conn.close()

An error occurred: no such table: SPACEXTABLE

In [49]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")  # Replace with your actual database path
cursor = conn.cursor()  # Create a cursor object

# Query to list all tables in the SQLite database
try:
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    print("Tables in the database:")
    for table in tables:
        print(table[0])  # Print the table names

    # Check if SPACEXTBL exists
    if ('SPACEXTBL',) in tables:
        print("SPACEXTBL exists.")
    else:
        print("SPACEXTBL does not exist. Creating the table...")

        # SQL to create the SPACEXTBL table
        create_table_query = '''
        CREATE TABLE SPACEXTBL (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            flight_number INTEGER,
            launch_year INTEGER,
            rocket_name TEXT,
            success INTEGER,
            landing_type TEXT,
            landing_outcome TEXT
        );
        '''
        cursor.execute(create_table_query)
        print("SPACEXTBL has been created.")
        
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
finally:
    # Always close the connection when done
    cursor.close()
    conn.close()

OperationalError: unable to open database file

In [51]:
import sqlite3
import pandas as pd

# Load the CSV file into a DataFrame
csv_file_path = "path/to/your/Spacex.csv"  
df = pd.read_csv(Spacex.cvs)

# Connect to a SQLite database (it will create a new one if it doesn't exist)
conn = sqlite3.connect("spacex_database.db")  # Use a .db file for SQLite
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False)  # Load DataFrame into SQL table

# Close the connection
conn.close()

NameError: name 'Spacex' is not defined

In [52]:
import pandas as pd

# Update the path to the actual location of the file
csv_file_path = "C:\\Users\\Christopher Jones\\Downloads\\Spacex.csv" 

# Load the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
print(df.head())

         Date Time (UTC) Booster_Version  Launch_Site  \
0  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

In [56]:
print(df.columns)

Index(['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload',
       'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome',
       'Landing_Outcome'],
      dtype='object')

In [57]:
import pandas as pd

# Assuming df is your DataFrame
# Combine 'Date' and 'Time (UTC)' into a single datetime column
df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Time (UTC)'])

# Optionally, drop the original 'Date' and 'Time (UTC)' columns if you no longer need them
df = df.drop(columns=['Date', 'Time (UTC)'])

# Check the updated DataFrame
print(df.head())

  Booster_Version  Launch_Site  \
0  F9 v1.0  B0003  CCAFS LC-40
1  F9 v1.0  B0004  CCAFS LC-40
2  F9 v1.0  B0005  CCAFS LC-40
3  F9 v1.0  B0006  CCAFS LC-40
4  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome      Landing_Outcome  \
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

             DateTime
0 2010-06-04 18:45:00
1 2010-12-08 15:43:00
2 2012-05-22 07:44:00
3 2012-10-08 00:35:00
4 2013-03-01 15:10:00

In [58]:
# Filter for successful drone ship landings with specific payload mass conditions
successful_drone_ship_boosters = df[
    (df['Landing_Outcome'].str.contains('Success')) & 
    (df['PAYLOAD_MASS__KG_'] > 4000) & 
    (df['PAYLOAD_MASS__KG_'] < 6000)
]

# Select the unique booster versions
unique_boosters = successful_drone_ship_boosters['Booster_Version'].unique()

print("Boosters with successful drone ship landings and payload mass between 4000 and 6000 kg:")
print(unique_boosters)

Boosters with successful drone ship landings and payload mass between 4000 and 6000 kg:
['F9 FT B1022' 'F9 FT B1026' 'F9 FT  B1021.2' 'F9 FT B1032.1'
 'F9 B4 B1040.1' 'F9 FT  B1031.2' 'F9 B4 B1043.1' 'F9 B5 B1046.2'
 'F9 B5 B1047.2' 'F9 B5 B1048.3' 'F9 B5 B1051.2 ' 'F9 B5B1060.1'
 'F9 B5 B1058.2 ' 'F9 B5B1062.1']

### Task 7




##### List the total number of successful and failure mission outcomes

In [59]:
# Count the total number of successful and failed mission outcomes
mission_outcome_counts = df['Mission_Outcome'].value_counts()

print(mission_outcome_counts)

Mission_Outcome
Success                             98
Failure (in flight)                  1
Success (payload status unclear)     1
Success                              1
Name: count, dtype: int64

In [60]:
# Combine counts into "Successful" and "Failed"
total_success = mission_outcome_counts['Success'] + mission_outcome_counts.get('Success (payload status unclear)', 0) + mission_outcome_counts.get('Success', 0)
total_failure = mission_outcome_counts['Failure (in flight)'] + mission_outcome_counts.get('Failure', 0)

print("Total Successful Missions:", total_success)
print("Total Failed Missions:", total_failure)

Total Successful Missions: 197
Total Failed Missions: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [63]:
import sqlite3
import pandas as pd

# Load the CSV file into a DataFrame
csv_file_path = r"C:\Users\Christopher Jones\Downloads\Spacex.csv" 
df = pd.read_csv(csv_file_path)

# Connect to a SQLite database
conn = sqlite3.connect("spacex_database.db")  # Use a .db file for SQLite
cursor = conn.cursor()  # Create a cursor object

# Load the DataFrame into a SQLite table
df.to_sql('SPACEXTBL', conn, if_exists='replace', index=False)

# SQL query to find booster versions with the maximum payload mass
query = """
SELECT Booster_Version 
FROM SPACEXTBL 
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);
"""

# Execute the query
cursor.execute(query)

# Fetch the results
max_payload_boosters = cursor.fetchall()

# Print the names of the booster versions
booster_versions = [row[0] for row in max_payload_boosters]
print("Booster versions with maximum payload mass:", booster_versions)

# Close the cursor and connection
cursor.close()
conn.close()

Booster versions with maximum payload mass: ['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4', 'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5', 'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6', 'F9 B5 B1060.3', 'F9 B5 B1049.7 ']

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [66]:
import pandas as pd
import sqlite3

# Load the CSV file into a DataFrame
csv_file_path = "C:\Users\Christopher Jones\Downloads\Spacex.csv"
df = pd.read_csv(csv_file_path)

# Connect to a SQLite database (it will create a new one if it doesn't exist)
conn = sqlite3.connect("spacex_database.db") 

# Save the DataFrame to the SQLite database as a table
df.to_sql('SPACEXTBL', conn, if_exists='replace', index=False)

# Define the SQL query for Task 9
query = """
SELECT 
    CASE 
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS Month_Name,
    Booster_Version,
    Launch_Site
FROM SPACEXTBL
WHERE 
    Landing_Outcome = 'Failure (drone ship)' AND
    substr(Date, 0, 5) = '2015';
"""

# Create a new cursor
cursor = conn.cursor()

# Execute the query
cursor.execute(query)
records = cursor.fetchall()

# Print the results
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2657943835.py, line 5)

In [67]:
import pandas as pd
import sqlite3

# Load the CSV file into a DataFrame
csv_file_path = r"C:\Users\Christopher Jones\Downloads\Spacex.csv" 

# Load the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Connect to a SQLite database (it will create a new one if it doesn't exist)
conn = sqlite3.connect("spacex_database.db")  # Use a .db file for SQLite

# Save the DataFrame to the SQLite database as a table
df.to_sql('SPACEXTBL', conn, if_exists='replace', index=False)

# Define the SQL query for Task 9
query = """
SELECT 
    CASE 
        WHEN substr(Date, 6, 2) = '01' THEN 'January'
        WHEN substr(Date, 6, 2) = '02' THEN 'February'
        WHEN substr(Date, 6, 2) = '03' THEN 'March'
        WHEN substr(Date, 6, 2) = '04' THEN 'April'
        WHEN substr(Date, 6, 2) = '05' THEN 'May'
        WHEN substr(Date, 6, 2) = '06' THEN 'June'
        WHEN substr(Date, 6, 2) = '07' THEN 'July'
        WHEN substr(Date, 6, 2) = '08' THEN 'August'
        WHEN substr(Date, 6, 2) = '09' THEN 'September'
        WHEN substr(Date, 6, 2) = '10' THEN 'October'
        WHEN substr(Date, 6, 2) = '11' THEN 'November'
        WHEN substr(Date, 6, 2) = '12' THEN 'December'
    END AS Month_Name,
    Booster_Version,
    Launch_Site
FROM SPACEXTBL
WHERE 
    Landing_Outcome = 'Failure (drone ship)' AND
    substr(Date, 0, 5) = '2015';
"""

# Create a new cursor
cursor = conn.cursor()

# Execute the query
cursor.execute(query)
records = cursor.fetchall()

# Print the results
for record in records:
    print(record)

# Close the cursor and connection
cursor.close()
conn.close()

('January', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [68]:
import pandas as pd
import sqlite3

# Step 1: Load the CSV file into a DataFrame
csv_file_path = "C:/Users/Christopher Jones/Downloads/Spacex.csv"
df = pd.read_csv(csv_file_path)

# Step 2: Connect to a SQLite database (this will create a new one if it doesn't exist)
conn = sqlite3.connect("spacex_database.db")

# Load the DataFrame into SQLite
df.to_sql("SPACEXTBL", conn, if_exists="replace", index=False)

# Step 3: Define the SQL query to count landing outcomes between specified dates
query = """
SELECT Landing_Outcome, COUNT(*) as Outcome_Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY Outcome_Count DESC;
"""

# Step 4: Execute the query
cursor = conn.cursor()
cursor.execute(query)
landing_outcome_counts = cursor.fetchall()

# Step 5: Close the cursor and connection
cursor.close()
conn.close()

# Output the results
landing_outcome_counts

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>